.userPage {
  background-color: #22324a;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 100%;
}

.userInfo {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  margin-bottom: 10px;
}

.profilePicture {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
  margin-top: 10px;
  margin-right: 5px;
}

.photoUsername {
  text-align: center;
  font-size: larger;
}

.usernameText {
  padding-top: 5px;
}

.overviewBio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.overview {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: large;
  max-width: 250px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.overview > * {
  border-right: 1px solid #ffffff80; /* Adjust opacity as needed */
  padding-right: 10px;
}

/* Remove right border from last element */
.overview > *:last-child {
  border-right: none;
}

.bio {
  margin-left: 10px;
  text-align: left;
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limit number of lines to 4 */
  -webkit-box-orient: vertical;
  text-align: center;
}

.extensions {
  display: flex;
  justify-content: space-around;
  text-align: center;
  max-width: 360px;
  width: 100%;
  margin-top: 20px;
}

.editProfile,
.shareProfile {
  width: 48%;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: var(--darker-blue);
  color: var(--pure-white);
  padding: 10px;
  font-size: 16px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.editProfile:hover,
.shareProfile:hover {
  background-color: var(--darker-blue-highlight);
}

.editProfile:active,
.shareProfile:active {
  background-color: var(--darker-blue); /* Change back to original color on click */
}

.addMovieList {
  border: none;
  background-color: var(--darker-blue);
  color: var(--pure-white);
  border-color: var(--pure-white);
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  flex: 1;
}

.addMovieList:hover,
.addMovieList:focus {
  background-color: var(--darker-blue-highlight);
}

.addMovieListForm {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--grey);
  border-radius: 8px;
  max-width: 50%;
}

.addMovieListForm input {
  border: none;
  margin-top: 0.3rem;
  padding: 0.2rem 0.3rem;
  padding-left: 0.8rem;
  min-width: 80%;
  border-radius: 8px;
  width: 100%;
  background-color: var(--light-grey);
  font-weight: 300;
  font-size: 0.9rem;
  transition: opacity 0.5s;
}

.addMovieListForm input:focus {
  outline: none;
}

.addMovieListForm button {
  border: none;
  background-color: var(--darker-blue);
  color: var(--pure-white);
  border-color: var(--pure-white);
  border-radius: 20px;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  flex: 1;
  margin-top: 0.5rem;
}

.addMovieListForm button:hover,
.addMovieListForm button:focus {
  background-color: var(--darker-blue-highlight);
}


.listContainer {
  border-bottom: 1px solid whitesmoke;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px; /* Add some padding */
  margin: 10px 0; /* Add vertical margin */
}

.horizontalScroll {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
}

.horizontalScroll::-webkit-scrollbar {
  width: 10px;
}

.horizontalScroll::-webkit-scrollbar-track {
  background: var(--darker-blue-highlight); /* color of the tracking area */
}

.horizontalScroll::-webkit-scrollbar-thumb {
  background-color: var(--darker-blue); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid var(--light-grey); /* creates padding around scroll thumb */
}

.horizontalScroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--darker-blue-highlight); /* color of the scroll thumb when hovering */
}

.imageItem {
  flex: 0 0 auto;
  width: 200px; 
  margin-right: 10px;
  border: 2px solid #438b8b64;
  border-radius: 4px;
  margin-right: 10px;
}

.imageItem:hover {
  cursor: pointer;
  border: 2px solid #60ecec;
}




@media only screen and (max-width: 525px) {
  .userInfo {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: center;
    text-align: center;
  }

  .profilePicture {
    margin-bottom: 10px;
  }

  .overviewBio {
    margin-top: 10px;
  }

  .extensions {
    margin-top: 20px;
  }

  .editProfile,
  .shareProfile {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 525px) {
  .userInfo {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 700px) {
  .movieButtons
  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}