/* UserInfo.module.css */
.userInfo {
    display: flex;
    justify-content: space-around;
    max-width: 700px;
    margin-bottom: 10px;
  }
  
  .photoUsername {
    position: relative;
    top: -100px;
    text-align: center;
    font-size: larger;
  }
  
  .usernameText {
    padding-top: 5px;
  }
  
  .overviewBio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: larger;
  }
  
  .overview {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: large;
    max-width: 250px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .bio {
    margin-left: 10px;
    text-align: left;
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limit number of lines to 4 */
    -webkit-box-orient: vertical;
    text-align: center;
  }
  