.wrapper {
  min-width: 35rem;
  width: 60%;
  margin: auto;
  padding: 0;
}

.totalResults {
  margin-top: 3.5rem;
  font-style: italic;
  color: #ccc;
  font-size: 1.15rem;
  font-weight: 300;
}

.divider {
  border: 0;
  height: 1px;
  background-color: #ff5eff54;
}

@media (max-width: 650px) {
  .wrapper {
    width: 95%;
    min-width: 15rem;
    margin: auto;
  }

  .resultsContainer {
    width: 100%;
  }
}
