.searchResultContainer {
  border-radius: 5px;
  display: flex;
  width: 100%;
  padding: 6px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.752);
  background-color: #161e28ac;
}

.searchResultContainer:hover {
  border: 1px solid #ccc;
  cursor: pointer;


}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  width: 100%;
  padding-bottom: 50px;
}

.italic {
  font-style: italic;
}

.notableWorksLabel {
  color: #ececec;
  display: inline;
  font-size: 370;
  margin-bottom: 6px;
}

.knownForContainer {
  margin-top: 1.2rem;
}

.knownForWork {
  color: #ccc;
  text-decoration: underline;
  font-style: italic;
  font-size: 0.9rem;
}

.knownForWork:hover {
  cursor: pointer;
  color: #afe8e8;
}

.moviePoster {
  border: 2px solid #438b8b64;
  border-radius: 4px;
  margin-right: 10px;
}

.title {
  display: inline;
  font-size: 1.2rem;
  font-weight: 550;
}

.title:hover {
  cursor: pointer;
  color: #60ecec;
}

.titleContainer {
  margin-bottom: 6px;
}

.alternateTitle {
  display: inline;
  font-style: italic;
  color: #ccc;
}

.year {
  color: #ccc;
  font-size: 370;
  margin-bottom: 6px;
}

.summary {
  color: #e7e7e7;
  font-size: 0.9rem;
  margin-bottom: 10px;
  font-weight: 350;
}

@media (max-width: 650px) {
  .searchResultContainer {
    align-items: center;
    width: 100%;
  }
}
