.login {
  background-color: #22324a;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.username {
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 300px;
}

.username input,
.password input {
  width: 100%;
  background-color: #d8c1c1;
  border-radius: 6px;
  font-size: 14px;
}

.password {
  padding-bottom: 0.4%;
}

.usernameText .passwordText {
  padding-bottom: 0.3%;
  color: white;
}

.forgotPassword {
  font-size: 12px;
  cursor: pointer;
  text-align: right;
}

.loginBottomButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.7%;
  padding-top: 2%;
}

.loginButton {
  background-color: #191c2d;
  color: white;
  border-color: white;
}

.rememberMeButton,
.createAccountButton,
.loginButton {
  flex: 1;
  text-align: center;
}

.createAccountButton,
.loginButton {
  border-radius: 20px;
  padding: 0.5rem;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.createAccountButton:hover,
.loginButton:hover,
.rememberMeButton label:focus,
.createAccountButton:focus,
.loginButton:focus {
  background-color: #364159;
}

@media only screen and (max-width: 600px) {
  .login {
    padding: 1rem;
  }

  .username,
  .password,
  .loginBottomButtons {
    padding: 0.5rem;
  }
}
