.login {
   background-color: #22324A;
   display: flex;
   justify-content: center;
   padding: 2rem;
}

.username {
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 300px;
}

.username input,
.password input{
  width: 100%;
  background-color: #D8C1C1;
  border-radius: 6px;
  font-size: 14px;
}

.password {
  padding-bottom: 0.4%;
}

.username-text 
.password-text {
  padding-bottom: 0.3%;
  color: white;
}

.forgot-password{
  font-size: 12px;
  cursor: pointer;
  text-align: right;
}

.login-bottom-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.7%;
  padding-top: 2%;
}

.login-button {
  background-color: #191C2D;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.remember-me-button,
.create-account-button,
.login-button {
  flex: 1; 
  text-align: center;
}

.create-account-button,
.login-button {
  border-radius: 20px;
  border-color: white;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.create-account-button:hover,
.login-button:hover,
.remember-me-button label:focus,
.create-account-button:focus,
.login-button:focus {
  background-color: #364159;
}

@media only screen and (max-width: 600px) {
  .login {
    padding: 1rem;
  }

  .username,
  .password,
  .login-bottom-buttons {
    padding: 0.5rem;
  }
}
