git.login {
    background-color: #22324A;
    display: flex;
    justify-content: center;
    padding: 1rem;
 }
 
 .username {
   padding-top: 1rem;
   max-width: 300px;
 }
 

 .email input,
 .username input,
 .password input,
 .repassword input {
   width: 23rem;
   background-color: #D8C1C1;
   border-radius: 6px;
   font-size: 14px;
 }
 

 .email,
 .password,
 .repassword {
   padding-top: 1rem;
 }

 .repassword {
  padding-bottom: .5rem;
 }
 
 .emailText,
 .usernameText,
 .passwordText {
   padding-bottom: 0.3%;
   color: white;
 }
 
 .forgotPassword{
   font-size: 10px;
   cursor: pointer;
   text-align: right;
 }
 
 .loginBottomButtons {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-bottom: 0.7%;
   padding-top: 2%;
 }
 
 .rememberMeButton,
 .createAccountButton,
 .emptySpace {
   flex: 1; 
   text-align: center;
 }



 .clickButton {
  position: sticky;
  bottom: 10px
 }
 

 .createAccountButton {
  font-size: 15px;
  margin-left: 25px;
 }

 .rememberMe {
  font-size: 10px;
 }


 .createAccountButton {
   border-radius: 100px;
   padding: 0.5rem;
   border-width: 2px;
   border-style: solid;
   border-color: white;
   background-color: var(--darker-blue);
   cursor: pointer;
   transition: background-color 0.3s, color 0.3s;
   justify-content: center;
 }
 
 .createAccountButton:hover,
 .rememberMeButton label:focus,
 .createAccountButton:focus,
 .loginButton:focus {
   background-color: #364159;
 }
 
 @media only screen and (max-width: 600px) {
   .login {
     padding: 1rem;
   }
 
   .username,
   .password,
   .loginBottomButtons {
     padding: 0.3rem;
   }
 }