.poster {
  border-radius: 3px;
  border: 2px solid #438b8b64;
}

.poster:hover {
  cursor: pointer;
  border-color: #8aa5ae;
}

.gridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px 5px 5px 10px;
  background-color: #242a592b;
  margin-top: 20px;
}

.filterBar {
  background-color: #3c416824;
  border-radius: 5px;
}
