.header {
  color: var(--light-grey);
  background-color: var(--dark-blue);
  font-size: 0.9rem;
  font-weight: 400;
  padding-top: 2.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.7rem;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 1rem;
  gap: 1.5rem;
  flex-basis: 40rem;
}

.searchContainer {
  position: relative;
  min-width: 70%;
}

.search {
  background-color: var(--light-grey);
  border: none;
  align-self: flex-start;
  border-radius: 23px;
  min-height: 1.6rem;
  min-width: 100%;
  padding-left: 2.2rem;
  opacity: 75%;
  transition: opacity 0.3s;
}

.search:focus {
  outline: 0;
  opacity: 97%;
}

.searchIcon {
  position: absolute;
  z-index: 1;
  width: 18px;
  height: auto;
  top: 15%;
  left: 10px;
}

.logo {
  color: var(--pure-white);
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
}

.navLink {
  color: var(--light-grey);
  font-weight: 550;
  text-decoration: none;
  letter-spacing: 1px;
  flex-shrink: 0;
}

.navLink:hover {
  color: var(--pure-white);
}

.createAccount {
  display: none;
}

/* IN PROGRESS */
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media all and (min-width: 800px) {
  .createAccount {
    display: block;
  }

  .header {
    padding: 0.7rem 1rem;
  }
}
