.container {
  min-height: calc(100vh - 50px);
  color: white;
}

.featured-content {
  position: relative;
  padding-bottom: 50px;
}
.backdrop-image {
  height: 85vh;
  /* padding: 50px; */
  /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 100), #b00b0b); */
  mask-image: linear-gradient(to top, transparent 1%, rgba(0, 0, 0, 1) 100%);
}

.featured-info {
  position: absolute;
  top: 610px;
  left: 50px;
}

.featured-title {
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  width: 400px;
  left: 50px;
  color: rgba(
    211,
    211,
    211,
    0.83
  ); /* Ensure the title is visible against the background */
  z-index: 1; /* Ensure the title appears above the background */
}

.featured-desc {
  width: 550px;
  left: 50px;
  color: rgba(217, 217, 217, 0.497);
}

.movie-list-container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.movie-list-wrapper {
  position: relative;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
  white-space: nowrap; /* Prevent line breaks */
}

.movie-list {
  display: inline-flex; /* Ensure flex items are inline */
  align-items: center;
  height: 340px;
  transition: all 1s ease-in-out;
}

/* Ensure movie-list-item is relative */
.movie-list-item {
  display: flex; /* Ensure items are inline-block */
  flex-direction: column;
  margin-right: 30px;
  position: relative;
  white-space: normal; /* Allow text wrapping inside items */
  justify-content: flex-start;
  overflow: visible; /* Prevent overflow of child elements */
}

/* Image Hover Effects */
.movie-list-item:hover .movie-list-item-img {
  animation: scaleImage 0.7s forwards;
}

@keyframes scaleImage {
  to {
    transform: scale(1.1);
    margin: 0 30px;
    opacity: 0.5;
    filter: blur(1px);
  }
}

/* Text Animation Delayed */
.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  animation: showText 0.5s forwards 0.7s; /* Delay text appearance by 1s */
}

@keyframes showText {
  to {
    opacity: 1;
  }
}

/* Image Transition */
.movie-list-item-img {
  transition:
    transform 1s ease-in-out,
    opacity 1s ease-in-out,
    filter 1s ease-in-out;
  width: 205px;
  height: 280px;
  object-fit: fill;
  border-radius: 20px;
}

/* Text Styles and Transition */
.movie-list-item-title {
  display: flex;
  padding: 0 10px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 5%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 20%;
  opacity: 0;
}

.movie-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

.movie-list-title {
  padding-top: 15px;
  text-shadow: 2px 2px #ff068688;
  font-size: 20px;
}

@media only screen and (max-width: 940px) {
  .menu-container {
    display: none;
  }
}
