.resultsContainer {
  min-width: 37rem;
  width: 40%;
  margin: auto;
}

.searchEntry {
  margin-top: 15px;
  margin-bottom: 15px;
}

.divider {
  border: 0;
  background-color: #ccc;
  height: 1px;
}

@media (max-width: 650px) {
  .resultsContainer {
    min-width: none;
    width: 100%;
    margin: 0;
  }
}
