.wrapper {
  min-width: 35rem;
  width: 60%;
  margin: auto;
  padding: 0;
}

@media (max-width: 650px) {
  .wrapper {
    /* min-width: 20rem; */
    width: 100%;
    /* max-width: 28rem; */
    margin: 0;
  }
}
