.loginForm {
  display: flex;
  justify-content: center;
  padding: 0 1.3rem;
  background-color: var(--grey);
}

.formContainer {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

.formItems {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  min-width: 20rem;
  width: 23rem;
}

.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  border: none;
  background-color: inherit;
  margin-bottom: -1.2rem;
}

.closeIcon {
  cursor: pointer;
}

.inputContainer input {
  border: none;
  margin-top: 0.3rem;
  padding: 0.2rem 0.3rem;
  padding-left: 0.8rem;
  min-width: 80%;
  border-radius: 8px;
  width: 100%;
  background-color: var(--light-grey);
  font-weight: 300;
  font-size: 0.9rem;
  transition: opacity 0.5s;
}

.inputContainer input:focus {
  outline: none;
}

.inputContainer {
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

.inputText {
  padding-top: 0.3%;
  color: var(--pure-white);
}

.forgotPassword {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  cursor: pointer;
  text-align: right;
}

.loginBottomButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.7%;
  padding-top: 2%;
}

.loginButton {
  border: none;
  background-color: var(--darker-blue);
  color: var(--pure-white);
  border-color: var(--pure-white);
}

.rememberMeButton label {
  font-size: 0.75rem;
}

.rememberMeButton [type="checkbox"] {
  transform: scale(1.2);
  margin-right: 0.5rem;
}

.rememberMeButton,
.createAccountButton,
.loginButton {
  flex: 1;
  text-align: center;
}

.createAccountButton,
.loginButton {
  border-radius: 20px;
  padding: 0.5rem;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.createAccountButton:hover,
.loginButton:hover,
.rememberMeButton label:focus,
.createAccountButton:focus,
.loginButton:focus {
  background-color: var(--darker-blue-highlight);
}

@media only screen and (max-width: 600px) {
  .login {
    padding: 1rem;
  }

  .loginForm {
    width: 100%;
  }

  .formContainer {
    justify-content: center;
  }

  .username,
  .password,
  .loginBottomButtons {
    padding: 0.5rem;
  }
}
